//output:Compiled/index.html, pretty:false
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    link(rel="stylesheet", href="../Libraries/normalize.min.css")
    link(rel="stylesheet", href="../Compiled/main.css")
    title Skyslist
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    nav
      main
        button
          .Menu
        p Skyslist
      aside
        button
          .Add
